<div class="pure-g container-about">
    <div class="pure-u-1 pure-u-sm-24-24 pure-u-md-24-24 pure-u-lg-12-24 pure-u-xl-12-24">
        <div class="section-1">
            <div class="title">
                <h1>Balneario Doña Juana</h1>
            </div>
            <div class="image">
                <img src="./assets/images/place 01/1.jpg" alt="Persona lanzandose hacía el agua en el balneario">
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-sm-24-24 pure-u-md-24-24 pure-u-lg-12-24 pure-u-xl-12-24">
        <div class="section-2">
            <div class="description">
                <p>
                    Sitio de gran interés natural y turístico lleno de tradición familiar, pues sus aguas limpias y cristalinas han sido el balneario predilecto de los victorianos y municipios vecinos. Desde el puente que lo atraviesa puede observarse el fondo del Rio y
                    sus peces como si se tratara de un acuario natural rodeado de exuberante vegetación. Su cuenca rocosa y el puente, son utilizadas por los bañistas como plataformas y trampolines para saltar al agua.
                    <br><br> Hace 72 años aproximadamente se convirtió en atractivo turístico, cuando los paseos se hacían llegando a pie o a caballo. El primer nombre que llevó esta vereda fue Mesones. Lo que hoy conocemos como Doña Juana, antiguamente
                    era un paso del rio por camino de herradura que conducía a un puente colgante de fabricación artesanal.
                    <br><br> El atractivo no solo ofrece actividades acuáticas convencionales y de aventura como Tubing, Body rafting, sino que gracias a los bosques de galería que bordean el Rio, ofrece entornos propicios para el senderismo, avistamiento
                    de aves y la contemplación de la naturaleza en general.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="pure-g container-about">
    <div class="pure-u-1 pure-u-sm-24-24 pure-u-md-24-24 pure-u-lg-12-24 pure-u-xl-12-24 one">
        <div class="section-1">
            <div class="description">
                <p>
                    Hermoso entorno natural, su nombre y obelisco conmemoran la visita a nuestro municipio del General liberal de la Guerra de los Mil Días, Rafael Uribe Uribe, por el año de 1914 en busca de reclutas para sus batallas. El Kiosco añejo en historias y tradiciones
                    lo convierten no solo en patrimonio cultural material sino en conservador y fuente de patrimonio inmaterial. Como testimonio de la riqueza hídrica de nuestro Municipio, tenemos La Pila o Fuente, donde abrevan los cientos de pájaros
                    que habitan en Parque, enriqueciendo con sus cantos el paisaje sonoro del Parque. Y la emblematica y majestuosa Ceiba, patrimonio natural, identidad de los Victorianos, con aproximadamente 150 años de edad, 35 m. de altura y 13 m.
                    de diámetro en su tronco. Albergue de cientos de aves que alegran mañanas y tardes de quienes disfrutan de su sombra a manera de isla de frescura en medio del clima cálido del Municipio En 1985 fue elegido el parque más bello de Caldas
                    por sus características paisajísticas y conservación de flora y fauna.
                </p>
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-sm-24-24 pure-u-md-24-24 pure-u-lg-12-24 pure-u-xl-12-24 two">
        <div class="section-2">
            <div class="title">
                <h1>Parque Rafael Uribe Uribe</h1>
            </div>
            <div class="image">
                <img src="./assets/images/place 02/1.jpg" alt="Parque Rafael Uribe Uribe">
            </div>
        </div>
    </div>
</div>

<div class="pure-g container-about">
    <div class="pure-u-1 pure-u-sm-24-24 pure-u-md-24-24 pure-u-lg-12-24 pure-u-xl-12-24">
        <div class="section-1">
            <div class="title">
                <h1>Río La Miel</h1>
            </div>
            <div class="image">
                <img src="./assets/images/place 03/1.jpeg" alt="Río La Miel">
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-sm-24-24 pure-u-md-24-24 pure-u-lg-12-24 pure-u-xl-12-24">
        <div class="section-2">
            <div class="description">
                <p>
                    En el Sector del Puente sobre el Rio, en la carretera Victoria Samaná, se ubica este atractivo turístico de agua y naturaleza, donde el rio discurre cristalino entre hermosas formaciones rocosas, bordeado de exuberantes y bien conservados bosques. Allí
                    el visitante puede disfrutar de actividades acuáticas convencionales y de aventura como Kayak, Tubing, Body rafting, así como senderismo y avistamiento de aves, en senderos que se internan en los bosques. Debido a su ubicación se puede
                    llegar en los servicios de transporte intermunicipal, por carretera pavimentada, recorriendo 19km desde el Parque.
                </p>
            </div>
        </div>
    </div>
</div>