.container-about {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    border-top: 1px dashed var(--r-color-5-dark-gray);
    padding: 15px 0px;
}

.section-1,
.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 39px 42px;
}

.section-1 .title,
.section-2 .title {
    width: calc(100% - 42px);
    background: var(--r-color-1-blue);
}

.section-1 .title {
    margin: 0px 0px 18px -42px;
}

.section-2 .title {
    margin: 0px 0px 18px 0px;
}

.section-1 .title h1,
.section-2 .title h1 {
    color: var(--d-color-1);
    margin: 6px 0px 6px 45px;
    font-family: var(--title-font-4);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 21px;
}

.section-1 .description,
.section-2 .description {
    text-align: justify;
}

.title {
    position: relative;
}

.title h1::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 100%;
    background: var(--r-color-3-blue-green);
    right: calc(42px * -2);
    top: 0;
}

.image {
    position: relative;
    width: 100%;
    height: 275px;
    overflow: hidden;
    border-radius: 6px;
}

.image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media all and (min-width: 320px) and (max-width:768px) {
    .container-about {
        flex-direction: column;
    }
    .image {
        height: 130px;
    }
    .one {
        order: 2;
    }
    .two {
        order: 1;
    }
    .section-1,
    .section-2 {
        margin: 15px 42px;
    }
}