<div class="pure-g container-about">
    <div class="pure-u-1 pure-u-sm-24-24 pure-u-md-24-24 pure-u-lg-12-24 pure-u-xl-12-24">
        <div class="section-1">
            <div class="title">¿Qué es PILOTO?</div>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel iure totam fugit cumque delectus, facilis, earum vero recusandae placeat quia, voluptatibus enim quasi. Dolores quo molestias molestiae tempora iure minima. Placeat dolorum porro eius veniam
                quia deleniti quos similique, quis iste. Sit, dolores? Numquam iusto aut delectus placeat quod doloremque nemo rerum pariatur corrupti, quidem sit, asperiores, libero voluptatem reprehenderit. Nesciunt harum adipisci tempore minima sed
                nam, est quis et rerum laborum aut minus omnis nostrum tempora quam ea saepe animi, laboriosam quos voluptatum ipsum perspiciatis, accusamus necessitatibus? Dolor, reprehenderit? Vel commodi deleniti quod. Fugiat, debitis at eveniet enim
                omnis veritatis odit totam nesciunt iste, asperiores accusamus et quam culpa reprehenderit explicabo dicta animi suscipit iure maiores nisi maxime? Delectus! Molestiae voluptatem nemo molestias corrupti, repellendus velit tenetur, quae
                illo aut dolor asperiores iusto. Quidem, sunt quisquam eveniet totam aliquid cum impedit atque quo accusantium iste eaque saepe, similique in.
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-sm-24-24 pure-u-md-24-24 pure-u-lg-12-24 pure-u-xl-12-24">
        <div class="section-2">
            <div class="title">¿Por qué?</div>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel iure totam fugit cumque delectus, facilis, earum vero recusandae placeat quia, voluptatibus enim quasi. Dolores quo molestias molestiae tempora iure minima. Placeat dolorum porro eius veniam
                quia deleniti quos similique, quis iste. Sit, dolores? Numquam iusto aut delectus placeat quod doloremque nemo rerum pariatur corrupti, quidem sit, asperiores, libero voluptatem reprehenderit. Nesciunt harum adipisci tempore minima sed
                nam, est quis et rerum laborum aut minus omnis nostrum tempora quam ea saepe animi, laboriosam quos voluptatum ipsum perspiciatis, accusamus necessitatibus? Dolor, reprehenderit? Vel commodi deleniti quod. Fugiat, debitis at eveniet enim
                omnis veritatis odit totam nesciunt iste, asperiores accusamus et quam culpa reprehenderit explicabo dicta animi suscipit iure maiores nisi maxime? Delectus! Molestiae voluptatem nemo molestias corrupti, repellendus velit tenetur, quae
                illo aut dolor asperiores iusto. Quidem, sunt quisquam eveniet totam aliquid cum impedit atque quo accusantium iste eaque saepe, similique in.
            </div>
        </div>
    </div>
</div>