<div class="info-container">
    <div class="description">
        <h1 class="title">HABIA<br>GUTTURALIS</h1>
        <h3 class="subtitle">Ave emblemática</h3>
        <p>
            Está ave de tan sólo 20 cm, de pico robusto y oscuro, cola larga, patas gris oscuro e iris café, es el ave emblemática del municipio de Victoria. Esta especie endémica de Colombia pertenece a la familia Cardinalidae orden: paseriformes, Se encuentra entre
            100 y 1700m de altura sobre el nivel del mar a lo largo de la base norte de los Andes desde Córdoba, hacia el oriente hasta Santander, al sur en ambas vertientes del valle del río Magdalena llegando hasta norte de Tolima en el lado occidental,
            también hasta el occidente de Santander, occidente de Boyacá y norte de Cundinamarca en el lado oriental.
        </p>
        <div class="more">
            Más información <a href="https://www.icesi.edu.co/wiki_aves_colombia/tiki-index.php?page=Habia+Ahumada+-+Habia+gutturalis">aquí</a>
        </div>
    </div>
    <img src="./assets/images/info/1.JPG" />
</div>
<div class="m-description">
    <p>
        Está ave de tan sólo 20 cm, de pico robusto y oscuro, cola larga, patas gris oscuro e iris café, es el ave emblemática del municipio de Victoria. Esta especie endémica de Colombia pertenece a la familia Cardinalidae orden: paseriformes, Se encuentra entre
        100 y 1700m de altura sobre el nivel del mar a lo largo de la base norte de los Andes desde Córdoba, hacia el oriente hasta Santander, al sur en ambas vertientes del valle del río Magdalena llegando hasta norte de Tolima en el lado occidental,
        también hasta el occidente de Santander, occidente de Boyacá y norte de Cundinamarca en el lado oriental.
    </p>
    <div class="more">
        Más información <a href="https://www.icesi.edu.co/wiki_aves_colombia/tiki-index.php?page=Habia+Ahumada+-+Habia+gutturalis">aquí</a>
    </div>
</div>