<div class="charts-container">
    <h1 class="title">Estadísticas</h1>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-24-24 pure-u-md-24-24 pure-u-lg-12-24 pure-u-xl-12-24">
            <app-chart-turist-place></app-chart-turist-place>
        </div>
        <div class="pure-u-1 pure-u-sm-24-24 pure-u-md-24-24 pure-u-lg-12-24 pure-u-xl-12-24">
            <app-chart-tourist-origin></app-chart-tourist-origin>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-24-24 pure-u-md-24-24 pure-u-lg-12-24 pure-u-xl-8-24">
            <app-chart-tourist-transport></app-chart-tourist-transport>
        </div>
        <div class="pure-u-1 pure-u-sm-24-24 pure-u-md-24-24 pure-u-lg-12-24 pure-u-xl-8-24">
            <app-chart-turist-time></app-chart-turist-time>
        </div>
        <div class="pure-u-1 pure-u-sm-24-24 pure-u-md-24-24 pure-u-lg-12-24 pure-u-xl-8-24">
            <app-chart-tourist-activities></app-chart-tourist-activities>
        </div>
    </div>
</div>