.charts-container {
    border-top: 1px dashed var(--r-color-5-dark-gray);
    padding: 42px;
}

h1.title {
    text-align: center;
    width: auto;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: var(--title-font-4);
}