<div class="footer-container">
    <div class="logo-victoria">
        <img src="./assets/images/logo.png" alt="Logo Victoria">
    </div>
    <div class="logo-gobernacion">
        <img src="./assets/images/logo-gobernacion.png" alt="Logo Gobernación de Caldas">
    </div>
    <div class="brand-victoria">
        <img src="./assets/images/brand.png" alt="Marca Victoria">
    </div>
    <div class="logo-uam">
        <img src="./assets/images/logo-uam.png" alt="Logo Universidad Autónoma de Manizales">
    </div>
</div>
<div class="copy">
    Copyright © 2021
</div>