.cover-container,
.background-image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.logo {
    position: absolute;
    z-index: 1;
    width: 160px;
    height: auto;
    overflow: hidden;
    top: 21px;
    left: 21px;
    cursor: pointer;
}

.logo img {
    width: 100%;
    height: auto;
}

img.bg-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.bg-2 {
    transform: rotate( 180deg);
    opacity: 0.6 !important;
    top: 0;
}

img.bg-2,
img.bg-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.3;
}

.cover-title {
    display: flex;
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cover-title h1 {
    position: relative;
    font-family: var(--title-font-1);
    text-align: center;
    font-size: 429%;
    letter-spacing: 6px;
    color: var(--d-color-1);
    margin: 0;
}

span.letter {
    font-size: inherit !important;
    margin: 0px 100px;
    opacity: 0;
}

.cover-title h3 {
    color: var(--d-color-2);
    font-family: var(--title-font-4);
    letter-spacing: 4px;
    text-align: center;
    margin: 6px 0px;
    padding: 1px 69px;
    background-color: var(--d-color-1);
    font-size: 24px;
}

.bar,
.times {
    position: absolute;
    z-index: 2;
    top: 21px;
    right: 21px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s linear;
    background: var(--d-color-2);
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: var(--d-color-1);
    border-radius: 3px;
}

.bar:hover,
.times:hover {
    background: var(--r-color-2-orange);
}

.bar.hidden {
    opacity: 0;
}

.times {
    right: auto;
    left: 21px;
}

.menu {
    position: fixed;
    right: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    transition: all 0.3s linear;
    background: var(--d-color-1);
}

.menu ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu li {
    position: relative;
    text-align: center;
    margin: 21px 0px;
    letter-spacing: 5px;
    font-size: 21px;
    border: 2px solid var(--d-color-2);
    padding: 6px 24px;
    cursor: pointer;
    color: var(--d-color-2);
    transition: all 0.3s linear;
}

.menu li:hover {
    color: var(--d-color-1);
    border-color: var(--d-color-1);
}

.menu li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--r-color-1-blue);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s linear;
}

.menu li:hover::after {
    width: 100%;
}

.menu.hidden {
    width: 0;
    overflow: hidden;
}

.menu-logo {
    position: absolute;
    width: 200px;
    overflow: hidden;
    left: 50%;
    top: 69px;
    transform: translateX(-50%);
}

.menu-logo img {
    width: 100%;
}

.m-logo-background {
    display: none;
}

@media all and (min-width: 320px) and (max-width:1024px) {
    .logo {
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
    }
    img.bg-2 {
        display: none;
    }
    .m-logo-background {
        display: block;
        position: absolute;
        z-index: 1;
        top: -12%;
        left: 50%;
        width: 300px;
        height: 300px;
        transform-origin: 50% 31%;
        transform: rotate(45deg) translateX(-50%);
        border-radius: 6px;
        background: var(--d-color-1);
        opacity: .9;
    }
}