<div class="header">
    <h1 class="title">TU FOTO</h1>
    <h3 class="subtitle">AL CORREO</h3>
</div>
<ng-container *ngIf="form">
    <form name="form" method="post" [formGroup]="form" (ngSubmit)="validateMail()" [ngClass]="step==1?'step-1':'step-1 hidden'" novalidate id="form">
        <div class="form-group">
            <input type="email" name="email" id="email" placeholder="Correo" formControlName="email" required>
            <div class="alert-danger" *ngIf="emailField!.invalid && (emailField!.dirty || emailField!.touched)">
                <div *ngFor="let messageError of getMessagesErrors(emailField, 'correo electrónico')" class="container-error-message">
                    {{messageError}}
                </div>
            </div>
        </div>
        <div class="terms">
            <p> Autorizo el uso de mis datos personales, ley 1581 de 2012 </p>
            <label for="terms">
                SI
                <input type="radio" value="true" class="radio-button" name="authorizationTerms" formControlName="authorizationTerms">
            </label>
            <label for="termis">
                NO
                <input type="radio" value="false" class="radio-button" name="authorizationTerms" formControlName="authorizationTerms">
            </label>
            <div class="alert-danger" *ngIf="form.touched && authorizationTermsField!.invalid">
                <div *ngFor="let messageError of getMessagesErrors(authorizationTermsField, 'autorización')" class="container-error-message">
                    {{messageError}}
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="button" value="Siguiente" class="btn-next" (click)="validateMail()">
        </div>
    </form>
</ng-container>

<form [formGroup]="formStep2" [ngClass]="step==2?'step-2':'step-2 hidden'">
    <div class="form-group">
        <input type="text" name="birthdate" id="birthdate" formControlName="birthdate" placeholder="Fecha de nacimiento" onfocus="(this.type='date')" onfocusout="(this.type='text')" type='date' min='1899-01-01' max='{{maxBirthdate}}'>
        <div class="alert-danger" *ngIf="birthdateField && birthdateField!.invalid && (birthdateField!.dirty || birthdateField!.touched)">
            <div *ngFor="let messageError of getMessagesErrors(birthdateField, 'fecha de nacimiento')" class="container-error-message">
                {{messageError}}
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="country" id="country" formControlName="country" placeholder="País de procedencia" (click)="showCountries()" value="{{countrySelected.name}}" readonly>
        <div [ngClass]="showCountriesList?'countries-list':'countries-list hidden'">
            <ul>
                <li class="country" *ngFor="let country of countriesList" (click)="selectCountry(country)">{{country.name}}</li>
            </ul>
        </div>
        <div class="alert-danger" *ngIf="countryField && countryField!.invalid && (countryField!.dirty || countryField!.touched)">
            <div *ngFor="let messageError of getMessagesErrors(countryField, 'país')" class="container-error-message">
                {{messageError}}
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="province" id="province" formControlName="province" placeholder="Departamento" (click)="showProvinces()" value="{{provinceSelected.name}}" readonly>
        <div [ngClass]="showProvincesList?'provinces-list':'provinces-list hidden'">
            <ul *ngIf="countrySelected">
                <li class="province" *ngFor="let province of provincesList" (click)="selectProvince(province)">{{province.name}}</li>
            </ul>
        </div>
        <div class="alert-danger" *ngIf="provinceField && provinceField!.invalid && (provinceField!.dirty || provinceField!.touched)">
            <div *ngFor="let messageError of getMessagesErrors(provinceField, 'departamento')" class="container-error-message">
                {{messageError}}
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="city" id="city" formControlName="city" placeholder="Ciudades" (click)="showCities()" value="{{citySelected.name}}" readonly>
        <div [ngClass]="showCitiesList?'cities-list':'cities-list hidden'">
            <ul *ngIf="provinceSelected">
                <li class="city" *ngFor="let city of citiesList" (click)="selectCity(city)">{{city.name}}</li>
            </ul>
        </div>
        <div class="alert-danger" *ngIf="cityField && cityField!.invalid && (cityField!.dirty || cityField!.touched)">
            <div *ngFor="let messageError of getMessagesErrors(cityField, 'ciudad')" class="container-error-message">
                {{messageError}}
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="travel_modes" id="travel_modes" formControlName="travel_modes" placeholder="Modo de viaje" (click)="showTransports()" value="{{transportSelected.name}}" readonly>
        <div [ngClass]="showTransportsList?'transports-list':'transports-list hidden'">
            <ul>
                <li class="transport" *ngFor="let transport of transportsList" (click)="selectTransport(transport)">{{transport.name}}</li>
            </ul>
        </div>
        <div class="alert-danger" *ngIf="travelModesField && travelModesField!.invalid && (travelModesField!.dirty || travelModesField!.touched)">
            <div *ngFor="let messageError of getMessagesErrors(travelModesField, 'modo de viaje')" class="container-error-message">
                {{messageError}}
            </div>
        </div>
    </div>
    <div class="form-group buttons">
        <input type="button" value="Atrás" class="btn-back" (click)="nextStep(1)">
        <input type="button" value="Siguiente" class="btn-next" (click)="nextStep(3)">
    </div>
</form>

<form [ngClass]="step==3?'step-3':'step-3 hidden'" (ngSubmit)="registry()">
    <div class="form-group">
        <span class="subtitle">¿Qué actividades turísticas son de tu interés?</span>
        <div class="activity-container">
            <label for="activity" *ngFor="let activity of activitiesList" class="activity-label">
                {{activity.name}}
                <input type="checkbox" name="activity" id="activity" value="{{activity.id}}">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <span class="subtitle">¿Qué sitios turísticos has visitado?</span>
        <div class="place-container">
            <label for="place" *ngFor="let place of placesList" class="places-label">
                {{place.name}}
                <input type="checkbox" name="place" id="place" value="{{place.id}}">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="form-group buttons">
        <input type="button" value="Atrás" class="btn-back" (click)="nextStep(2)">
        <input type="submit" value="Enviar" class="btn-next">
    </div>
</form>

<div [ngClass]="step==4?'step-4':'step-4 hidden'">
    <p>¡Felicidades! Hemos enviado tu foto al correo electrónico.</p>
</div>