form.step-1,
form.step-2,
form.step-3 {
    position: relative;
    opacity: 1;
    transition: all 0.3s linear;
    z-index: 1;
}

form.step-1.hidden,
form.step-2.hidden,
form.step-3.hidden {
    display: none;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

h1.title {
    text-align: center;
    margin: 0;
    font-family: var(--title-font-1);
}

.header {
    width: 50%;
    margin: 0px 25% 54px 25%;
}

h3.subtitle {
    position: relative;
    text-align: center;
    margin: 0;
    font-family: var(--title-font-4);
    letter-spacing: 9px;
}

h3.subtitle::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--d-color-2);
}

input#email,
input#birthdate,
input#country,
input#province,
input#city,
input#travel_modes {
    text-align: center;
    font-size: 21px;
    border-radius: 6px;
    border: 0;
    padding: 3px 0px;
    outline: none;
    font-family: var(--body-font-1);
    letter-spacing: 3px;
    margin: 12px 0px;
}

.terms {
    text-align: center;
    padding: 12px 0px;
    font-family: var(--body-font-1);
    font-size: 18px;
    margin-bottom: 15px;
}

.countries-list,
.provinces-list,
.cities-list,
.transports-list {
    background: var(--d-color-1);
    border-radius: 6px;
    position: absolute;
    width: 100%;
    top: 60px;
    transition: all 0.3s linear;
    z-index: 1;
    max-height: 250px;
    overflow: auto;
    box-shadow: 0px 4px 10px #0000004f;
}

.countries-list.hidden,
.provinces-list.hidden,
.cities-list.hidden,
.transports-list.hidden {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s linear;
}

.countries-list ul,
.provinces-list ul,
.cities-list ul,
.transports-list ul {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: stretch;
}

li.country,
li.province,
li.city,
li.transport {
    padding: 3px 0px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s linear;
}

li.country:hover,
li.province:hover,
li.city:hover,
li.transport:hover {
    background: var(--r-color-1-blue);
    background: linear-gradient(50deg, var(--r-color-1-blue) 0%, var(--r-color-3-blue-green) 100%);
    color: var(--d-color-1);
}

.form-group.buttons {
    flex-direction: row;
}

input.btn-next,
input.btn-back {
    margin: 0px 25%;
    font-size: 21px;
    background: var(--r-color-2-orange);
    background: linear-gradient(50deg, var(--r-color-1-blue) 0%, var(--r-color-3-blue-green) 100%);
    border: 0;
    font-family: var(--title-font-2);
    color: var(--d-color-1);
    padding: 6px 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px #00000085;
    cursor: pointer;
    border: 2px solid var(--d-color-1);
    opacity: 0.7;
    transition: all 0.3s linear;
}

input.btn-next:hover {
    opacity: 1;
    background: linear-gradient(50deg, var(--r-color-4-yellow) 0%, var(--r-color-2-orange) 100%);
}

input.btn-back {
    color: var(--d-color-2);
    background: var(--r-color-5-light-gray);
    background: linear-gradient(50deg, var(--r-color-5-light-gray) 0%, var(--r-color-5-dark-gray) 100%);
}

input.btn-back:hover {
    opacity: 1;
}

.form-group.buttons .btn-next,
.form-group.buttons .btn-back {
    margin: 18px auto 0px;
    width: 171px;
}

span.subtitle {
    text-align: center;
    font-family: var(--body-font-2);
    font-size: 21px;
}

label.activity-label,
label.places-label {
    width: auto;
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 6px;
    cursor: pointer;
    font-size: 21px;
    text-transform: capitalize;
}

label.activity-label input,
label.places-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--d-color-1);
    pointer-events: none;
}

label.activity-label input~.checkmark,
label.places-label input~.checkmark {
    background-color: var(--d-color-1);
}

label.activity-label input:checked~.checkmark,
label.places-label input:checked~.checkmark {
    background-color: var(--r-color-2-orange);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

label.activity-label input:checked~.checkmark:after,
label.places-label input:checked~.checkmark:after {
    display: block;
}

label.activity-label .checkmark:after,
label.places-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.activity-container,
.places-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    margin: 24px 0px;
}

.step-4.hidden p {
    display: none;
}

.step-4 p {
    text-align: center;
    font-size: 21px;
    font-family: var(--title-font-2);
}

@media all and (min-width: 320px) and (max-width:480px) {
    label.activity-label,
    label.places-label {
        width: 100%;
    }
    .header {
        width: 74%;
        margin: 0px 13% 54px 13%;
    }
}