<div class="header">
    <h1 class="title">TU FOTO</h1>
    <h3 class="subtitle">AL CORREO</h3>
</div>
<ng-container *ngIf="form">
    <form name="form" method="post" [formGroup]="form" (ngSubmit)="validateMail()" [ngClass]="step==1?'step-1':'step-1 hidden'" novalidate id="form">
        <div class="form-group">
            <input type="email" name="email" id="email" placeholder="Correo" formControlName="email" required>
            <div class="alert-danger" *ngIf="emailField!.invalid && emailField!.dirty || emailField!.touched">
                <div *ngFor="let messageError of getMessagesErrors(emailField, 'correo electrónico')" class="container-error-message">
                    {{messageError}}
                </div>
            </div>
        </div>
        <div class="terms">
            <p> Autorizo el uso de mis datos personales, ley 1582 de 2012 </p>
            <label for="terms">
                SI
                <input type="radio" value="SI" class="radio-button" name="terms">
            </label>
            <label for="termis">
                NO
                <input type="radio" value="NO" class="radio-button" name="terms">
            </label>
        </div>
        <div class="form-group">
            <input type="button" value="Siguiente" class="btn-next" (click)="validateMail()">
        </div>
    </form>
</ng-container>

<form [ngClass]="step==2?'step-2':'step-2 hidden'">
    <div class="form-group">
        <input type="text" name="birthdate" id="birthdate" placeholder="Fecha de nacimiento" onfocus="(this.type='date')" onfocusout="(this.type='text')" type='date' min='1899-01-01' max='{{maxBirthdate}}'>
    </div>
    <div class="form-group">
        <input type="text" name="country" id="country" placeholder="País de procedencia" (click)="showCountries()" value="{{countrySelected.name}}" readonly>
        <div [ngClass]="showCountriesList?'countries-list':'countries-list hidden'">
            <ul>
                <li class="country" *ngFor="let country of countriesList" (click)="selectCountry(country)">{{country.name}}</li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="province" id="province" placeholder="Departamento" (click)="showProvinces()" value="{{provinceSelected.name}}" readonly>
        <div [ngClass]="showProvincesList?'provinces-list':'provinces-list hidden'">
            <ul *ngIf="countrySelected">
                <li class="province" *ngFor="let province of provincesList" (click)="selectProvince(province)">{{province.name}}</li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="city" id="city" placeholder="Ciudades" (click)="showCities()" value="{{citySelected.name}}" readonly>
        <div [ngClass]="showCitiesList?'cities-list':'cities-list hidden'">
            <ul *ngIf="provinceSelected">
                <li class="city" *ngFor="let city of citiesList" (click)="selectCity(city)">{{city.name}}</li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="travel_modes" id="travel_modes" placeholder="Modo de viaje" (click)="showTransports()" value="{{transportSelected.name}}" readonly>
        <div [ngClass]="showTransportsList?'transports-list':'transports-list hidden'">
            <ul>
                <li class="transport" *ngFor="let transport of transportsList" (click)="selectTransport(transport)">{{transport.name}}</li>
            </ul>
        </div>
    </div>
    <div class="form-group buttons">
        <input type="button" value="Atrás" class="btn-back" (click)="nextStep(1)">
        <input type="button" value="Siguiente" class="btn-next" (click)="nextStep(3)">
    </div>
</form>

<form [ngClass]="step==3?'step-3':'step-3 hidden'">
    <div class="form-group">
        <span class="subtitle">¿Qué actividades turísticas son de tu interés?</span>
        <div class="activity-container">
            <label for="activity" *ngFor="let activity of activitiesList" class="activity-label">
                {{activity.name}}
                <input type="checkbox" name="activity" id="activity" value="{{activity.id}}">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <span class="subtitle">¿Qué sitios turísticos has visitado?</span>
        <div class="place-container">
            <label for="place" *ngFor="let place of placesList" class="places-label">
                {{place.name}}
                <input type="checkbox" name="place" id="place" value="{{place.id}}">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="form-group buttons">
        <input type="button" value="Atrás" class="btn-back" (click)="nextStep(2)">
        <input type="button" value="Enviar" class="btn-next" (click)="nextStep(4)">
    </div>
</form>

<div [ngClass]="step==4?'step-4':'step-4 hidden'">
    <p>¡Felicidades! Hemos enviado tu foto al correo electrónico.</p>
</div>